@model IEnumerable<webBotica2.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-4">Lista de Productos</h2>

<div class="d-flex justify-content-start mb-3">
    <a class="btn btn-success btn-sm" asp-action="Create">
        <i class="bi bi-plus-circle-fill"></i> Registrar Producto
    </a>
</div>

<table class="table table-bordered table-hover table-striped align-middle text-center shadow-sm" style="font-size: 13px;">
    <thead class="table-success">
        <tr>
            <th>SKU</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio Compra</th>
            <th>Precio Venta</th>
            <th>F. Vencimiento</th>
            <th>Stock</th>
            <th>Stock Min.</th>
            <th>Categoría</th>
            <th>Marca</th>
            <th>Proveedor</th>
            <th>Laboratorio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Sku</td>
                <td>@item.Nombre</td>
                <td>@item.Presentacion</td>
                <td>@item.PrecioCompra.ToString("C")</td>
                <td>@item.PrecioVenta.ToString("C")</td>
                <td>@item.FechaVen.ToString("dd/MM/yyyy")</td>
                <td>@item.Stock</td>
                <td>@item.StockMinimo</td>
                <td>@item.IdCategoriaNavigation.Nombre</td>
                <td>@item.IdMarcaNavigation.Nombre</td>
                <td>@item.IdProveedorNavigation.RazonSocial</td>
                <td>@item.IdLaboratorioNavigation.Nombre</td>
                <td>
                 @(item.Estado ? "✅" : "❌")
                <td>
                    <a class="btn btn-sm btn-primary me-1" asp-action="Edit" asp-route-id="@item.IdProd">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <form class="d-inline" asp-action="Delete" asp-route-id="@item.IdProd" method="post"
                          onsubmit="return confirm('¿Está seguro de @(item.Estado ? "deshabilitar" : "habilitar") este laboratorio?');">
                        <button type="submit" class="btn btn-sm @(item.Estado ? "btn-danger" : "btn-success")">
                            <i class="bi @(item.Estado ? "bi-x-circle" : "bi-check-circle")"></i>
                            @(item.Estado ? "Deshabilitar" : "Habilitar")
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
