@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h2 mb-0 text-gray-800">Dashboard</h1>  
</div>

<!-- Content Row -->
<div class="row">

    <!-- VENTAS DEL MES -->

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Recaudado en lo que va del mes
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">S/. @ViewBag.TotalMes</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CUMPLIMIENTO DEL MES -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Cumplimiento Meta mensual
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    @ViewBag.CumplimientoMensual.ToString("0")%
                                </div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         style="width: @ViewBag.CumplimientoMensual%"
                                         aria-valuenow="@ViewBag.CumplimientoMensual" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bullseye fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <!-- VENTAS  DEL AÑO -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Recaudado en lo que va del año
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">S/. @ViewBag.TotalAnio</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CUMPLIMIENTO DEL AÑO -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Cumplimiento Meta Anual
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    @ViewBag.CumplimientoAnual.ToString("0")%
                                </div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         style="width: @ViewBag.CumplimientoAnual%"
                                         aria-valuenow="@ViewBag.CumplimientoAnual" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-bullseye fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



   

</div>

<!-- REPORTE GRAFICOS -->
<div class="row">
    <!-- GRAFICO MENSUAL -->
    <div class="col-md-6 mb-4">
        <div class="card shadow h-100">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Promedio de Ventas Mensuales</h6>
            </div>
            <div class="card-body">
                <canvas id="graficoVentasMensuales" width="600" height="300"></canvas>
            </div>
        </div>
    </div>

    <!-- GRAFICO ANUAL -->
    <div class="col-md-6 mb-4">
        <div class="card shadow h-100">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-success">Promedio de Ventas Anuales</h6>
            </div>
            <div class="card-body">
                <canvas id="graficoVentasAnuales" width="600" height="300"></canvas>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
        const ctxMensual = document.getElementById('graficoVentasMensuales').getContext('2d');
    const ctxAnual = document.getElementById('graficoVentasAnuales').getContext('2d');

    // Chart para mensual
    new Chart(ctxMensual, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Serialize(ViewBag.LabelsMensuales)),
            datasets: [{
                label: 'Promedio S/. por mes',
                data: @Html.Raw(Json.Serialize(ViewBag.DataMensuales)),
                backgroundColor: '#4e73df'
            }]
        }
    });

    // Chart para anual
    new Chart(ctxAnual, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Serialize(ViewBag.LabelsAnuales)),
            datasets: [{
                label: 'Promedio S/. por año',
                data: @Html.Raw(Json.Serialize(ViewBag.DataAnuales)),
                backgroundColor: '#1cc88a'
            }]
        }
    });

</script>
